[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-octava
Exec=harbour-octava
Name=Octava


[X-Sailjail]
OrganizationName=net.openrepos
ApplicationName=harbour-octava
Permissions=Audio
