[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-octava
Exec=harbour-octava
Name=Octava
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=harbour-octava

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=net.openrepos
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-octava
# Add the required permissions here
Permissions=Audio
